/machine_learning_standford_u/ex1/octave/lib
/machine_learning_standford_u/ex1/octave/computeCostMulti.m
/machine_learning_standford_u/ex1/octave/ex1.m
/machine_learning_standford_u/ex1/octave/ex1_multi.m
/machine_learning_standford_u/ex1/octave/ex1data1.txt
/machine_learning_standford_u/ex1/octave/ex1data2.txt
/machine_learning_standford_u/ex1/octave/featureNormalize.m
/machine_learning_standford_u/ex1/octave/gradientDescentMulti.m
/machine_learning_standford_u/ex1/octave/normalEqn.m
/machine_learning_standford_u/ex1/octave/submit.m
/machine_learning_standford_u/ex1/octave/token.mat
/machine_learning_standford_u/ex2/octave/submit.m
/machine_learning_standford_u/ex2/octave/token.mat
/machine_learning_standford_u/ex2/octave/lib
/machine_learning_standford_u/ex2/octave/ex2.m
/machine_learning_standford_u/ex2/octave/ex2_reg.m
/machine_learning_standford_u/ex2/octave/ex2data1.txt
/machine_learning_standford_u/ex2/octave/ex2data2.txt
/machine_learning_standford_u/ex2/octave/mapFeature.m
/machine_learning_standford_u/ex2/octave/plotData.m
/machine_learning_standford_u/ex2/octave/plotDecisionBoundary.m
/machine_learning_standford_u/ex3/octave/submit.m
/machine_learning_standford_u/ex3/octave/lib
/machine_learning_standford_u/ex3/octave/displayData.m
/machine_learning_standford_u/ex3/octave/ex3_nn.m
/machine_learning_standford_u/ex3/octave/ex3data1.mat
/machine_learning_standford_u/ex3/octave/ex3weights.mat
/machine_learning_standford_u/ex3/octave/fmincg.m
/machine_learning_standford_u/ex3/octave/sigmoid.m
/machine_learning_standford_u/ex4/octave/submit.m
/machine_learning_standford_u/ex4/octave/token.mat
/machine_learning_standford_u/ex4/octave/lib
/machine_learning_standford_u/ex4/octave/checkNNGradients.m
/machine_learning_standford_u/ex4/octave/computeNumericalGradient.m
/machine_learning_standford_u/ex4/octave/debugInitializeWeights.m
/machine_learning_standford_u/ex4/octave/displayData.m
/machine_learning_standford_u/ex4/octave/ex4.m
/machine_learning_standford_u/ex4/octave/ex4data1.mat
/machine_learning_standford_u/ex4/octave/ex4weights.mat
/machine_learning_standford_u/ex4/octave/fmincg.m
/machine_learning_standford_u/ex4/octave/predict.m
/machine_learning_standford_u/ex4/octave/sigmoid.m
.Rproj.user
